.wrapper{
    height:100%;
    width: 100%;;
    text-align: center;
    perspective: 10px;
    display:flex;
    justify-content: center;
    padding-top: 5px;
    
}
body{
    margin:0;
    padding:0;
    background-image:url("./images/Designer.jpeg") ;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    /*height:100%; */
    /* background-color: white; */

}
h1{
    text-align: center;
    font-size:80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    background-color: rgb(216, 244, 246);
    opacity:0.8;
    width:80vh;
    height:50vh;
    margin:2px;
    padding:20px;
    display: flex;
    align-content: center;
    align-items:center;
    justify-content: center;
    justify-items: space-evenly;
    align-items: start;
    align-self:center;
    
}

table{
    opacity:1;
    font-weight:bold;
}

.button{
    width:7rem;
    height:2rem;
    color:black;
    text-align: center;
    align-content: center;
    background-color:rgb(85, 192, 199);
    font-size: 18px;
    cursor: pointer;
    /* box-shadow: 5px 4px 11px 1px rgb(191, 188, 188); */

    animation-name:blak;
    animation-duration:3s;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-timing-function: ease;
    z-index: 1;
    position: relative;
    border-radius: 4px;

}
.button:hover::before{
    transform: scaleX(1);
}

.button::before{
    content: "";
    top:0;
    bottom:0;
    right:0;
    left:0;
    position:absolute;
    z-index: -1;
    background-color:rgb(158, 231, 236);
    transform: scaleX(0);
    transition: all 0.8s;
    transform-origin: left;

}

.buttonTr{
    display:flex;
    justify-content: center;
    align-items: center;
    color:black
}