<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .pred-center{
            text-align: center;
            font-weight: bold;
        }
    </style>

</head>
<body >
    <h1 >Heart Disease</h1>
    <div class="wrapper">
        <!-- <h1>HeartDisease</h1> -->
        <div class="container">
            <form action = "/predict" method = "post">
                <table class="table">
                    <tr>
                        <td>Age</td>
                        <td class="td"><input type="number" name="age" required></td>
                    
                        <td>Sex</td>
                        <td class="td">
                            <select name="sex" required>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>CP type</td> 
                        <td class="td">
                            <select name="cp" required>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                    
                        <td> Trest BPS</td> 
                        <td class="td"><input type="number" name="trestbps" required></td>
                    </tr>
                    <tr> 
                        <td>Chol(mg/dl)</td>
                        <td class="td"><input type="number" name="chol" required></td>
                        <!-- <td></td> -->
                        <td>FBS</td>
                        <td class="td">
                            <select name="fbs" required>
                                <option value="1"> > 120mg/dl </option>
                                <option value="0"> <= 120 mg/dl</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Rest ECG</td>
                        <td class="td">
                            <select name="restecg" required>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </td>
                    
                        <td>Thalach</td>
                        <td class="td"><input type="number" name="thalach" required></td>
                    </tr>
                    <tr>
                        <td>Exang</td>
                        <td class="td">
                            <select name="exang" required>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </td>
                    
                        <td>Oldpeak</td>
                        <td class="td"><input type="number" name="oldpeak" step= "any" required></td>
                    </tr>
                    <tr>
                        <td>Slope</td>
                        <td class="td"><input type="number" name="slope" required></td>
                    
                        <td>Ca</td>
                        <td class="td">
                            <select name="ca" required>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Thal</td>
                        <td class="td">
                            <select name="thal" required>
                                <option value="0">Normal</option>
                                <option value="1">Fixed Defect</option>
                                <option value="2">Reversable Defect</option>
                            </select>
                        </td>
                    </tr>
                        

                    <tr class='buttoTr' colspan="2" >
                        <td><button type="submit" class="button">PREDICT</button></td>
                    </tr>

                    <tr>
                        <br>
                        <td style="color:black; " >{{pred}}<td>
                        <br>
                    </tr>

                </table>

            </form>
            
            
        </div>
    </div>
</body>
</html>
