<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthCare</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body >
    <h1 >Heart Disease</h1>
    <div class="wrapper">
        <!-- <h1>HeartDisease</h1> -->
        <div class="container">
            <form action = "/predict" method = "post">
                <table class="table">
                    <tr>
                        <td>age</td>
                        <td class="td"><input type="number" name="age" required></td>
                    
                        <td>sex</td>
                        <td class="td"><input type="number" name="sex" required></td>
                    </tr>
                    <tr>
                        <td>cp</td> 
                        <td class="td"><input type="number" name="cp" required></td>
                    
                        <td> trestbps</td> 
                        <td class="td"><input type="number" name="trestbps" required></td>
                    </tr>
                    <tr> 
                        <td>chol</td>
                        <td class="td"><input type="number" name="chol" required></td>
                        <!-- <td></td> -->
                        <td>fbs</td>
                        <td class="td"><input type="number" name="fbs" required></td>
                    </tr>
                    <tr>
                        <td>restecg</td>
                        <td class="td"><input type="number" name="restecg" required></td>
                    
                        <td>thalach</td>
                        <td class="td"><input type="number" name="thalach" required></td>
                    </tr>
                    <tr>
                        <td>exang</td>
                        <td class="td"><input type="number" name="exang" required></td>
                    
                        <td>oldpeak</td>
                        <td class="td"><input type="number" name="oldpeak" step= "any" required></td>
                    </tr>
                    <tr>
                        <td>slope</td>
                        <td class="td"><input type="number" name="slope" required></td>
                    
                        <td>ca</td>
                        <td class="td"><input type="number" name="ca" required></td>
                    </tr>
                    <tr>
                        <td>thal</td>
                        <td class="td"><input type="number" name="thal" required></td>
                    </tr>
                        

                    <tr>
                        <td><button type="submit" class="button">PREDICT</button></td>
                    </tr>

                    <tr>
                        <br>
                        <td style="color:rgb(3, 251, 148); ">{{pred}}<td>
                        <br>
                    </tr>

                </table>

            </form>
            
            
        </div>
    </div>
</body>
</html>
